{% extends "web_app/base.html" %}
{% load static %}

{% block title %}Главная{% endblock title %}
{% block content %}
<div class="container-fluid mt-3 d-flex flex-row flex-wrap">
    {% for pr in products %}
    <div class="card mb-3">
      <img src="{{ pr.photo.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">{{ pr.price|floatformat:"-2"|add:"   ₽" }}</h4>
        <a class="d-block card-link text-truncate"
           href="/announcement/id/b1f9b191-b051-4ca9-8b6b-24b8d1d2e879">
            {{ pr.title }}
        </a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}